# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_WOFLIX_LEFT
	def_bool $(shields_list_contains,woflix_left)

config SHIELD_WOFLIX_RIGHT
	def_bool $(shields_list_contains,woflix_right)
